# Don't ignore .gitignore
!.gitignore

# Don't ignore actions directory and its contents
!actions/
!actions/**

# Ignore pycache in actions
actions/__pycache__/
actions/**/__pycache__/

data/nlu.yml
data/rules.yml
data/stories.yml